body{
    font-family: var(--font-texte);
    font-size: var(--texte-page);
    background-color: var(--bleu-foncé);
}

.main{
  color: var(--gris);
  margin-bottom: 20px;
}

.main__header--image{
  z-index: 1;
  filter: blur(2px);
}

.main__header--titre{
  display: block;
  position: relative;
  font-family: var(--font-titre);
  font-size: var(--titre-article);
  color: var(--blanc-gris);
  justify-content: center;
  text-align: center;
  top: -120px;
}

a{
    text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}