:root {
    /* Colors */
    --bleu-foncé: #154253 ;
    --bleu-clair: #00F3FF ;
    --gris: #3D3D3D;
    --blanc-gris: #D9D9D9;
    --blanc-form: rgb(232,232,232, 0.6);
    --noir-header: rgba(0, 0, 0, 0.8);

    /* tailles de polices */
    --site-header: 32px;
    --titre-article: 48px;
    --texte-page: 16px;
    --texte-h1: 20px;
    --menu-h1: 40px;
    --menu-h2: 35px;
    --footer-liens: 35px;
    --description-texte: 8px;

    /* polices */
    --font-titre: "iceberg", sans-serif;
    --font-texte: "comfortaa", sans-serif;
}