:root {
    /* Colors */
    --bleu-foncé: #154253 ;
    --bleu-clair: #00F3FF ;
    --gris: #3D3D3D;
    --blanc-gris: #D9D9D9;
    --blanc-forl: #D9D9D9, 0.6;
    --noir-header: #000000, 0.8;

    



}