.header {
    z-index: 2;
    background-color: var(--noir-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px 5px 15px ;
}

.header__site, .menu__site{
    color: var(--blanc-gris);
    font-family: var(--font-titre);
    font-size: var(--site-header);
    text-decoration: none;
}

.header__site--nom{
    color: var(--blanc-gris);
}

.main__header--image{
    max-width: 100%;
}