.menu{
    background-color: var(--bleu-foncé);
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: right 0.5s;
}

.menu__haut {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px 5px 15px ;

}

.actif{
    right: 0;
}

nav > ul > li{
    list-style: none;    
}

nav > ul > li > a {
    list-style: none;  
    color: var(--blanc-gris);
    font-family: var(--font-titre);
}

.menu__liste{
    padding-top: 10px;
    padding-left: 0;
}

.menu__principal{
    font-size: var(--menu-h1);
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 10px;
    margin-bottom: 10px;
}

.menu__liste--ligne{
    border-color: white;
    color: white;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 30px;
    width: 120px;
    
}

.menu__ancre{
    font-size: var(--menu-h2);
    padding-left: 80px;
    padding-bottom: 10px;
}

.menu__lien--principal{
    border-bottom: 1px solid white;
}

.noscroll{
    overflow: hidden;
}

.menu__lang{
    color: var(--blanc-gris);
    margin: 30px;
}