.bloc{
    background-color: var(--blanc-gris);
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.bloc__titre{
    font-size: var(--texte-h1);
    padding: 20px;
    text-align: center;
}

.bloc__text{
    font-size: var(--texte-page);
    padding-left: 20px;
    padding-right: 20px;
}